* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
ul {
  list-style: none;
}
@mixin flexible-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}
.header {
  .nav-inpt {
    display: none;
  }
  label {
    display: none;
  }
  .navigation {
    padding: 7px 188px;
    @include flexible-between();
    .menu-img {
      display: flex;
      gap: 97px;

      .menu {
        @include flexible-between();
        gap: 28px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .sm {
      display: flex;
      align-items: center;
      .search {
        margin-left: 16px;
        margin-right: 8px;
      }
    }
  }
}
.header-main {
  background: rgba(240, 239, 235, 1);

  padding: 9px 60px 24px 188px;
  width: 100%;
  display: flex;
  gap: 59px;

  align-items: center;

  .header-content {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 60px;
      font-weight: 700;
      line-height: 70px;
      margin-bottom: 42px;
    }
    .header-content-text {
      font-size: 24px;
      margin-bottom: 26px;
    }
    .header-btn {
      background: #000000;
      border: 1px solid #000000;
      border-radius: 100px;
      color: white;
      padding: 7px 23px 9px 23px;
      width: 129px;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
    }
  }
  .header-img {
  }
}
.about {
  padding: 60px 188px 248px 188px;

  .about-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;

    .our-guides {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 27px;
    }
    .our-guides-text {
      width: 59.4%;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 47px;
    }
    .our-guides-mini-text {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 88px;
    }
    .our-sellers {
      font-size: 36px;
      font-weight: 700;
    }
  }
}
.about-cards {
  display: flex;
  gap: 63px;
  .about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;

    img {
      margin-bottom: 27px;
    }
    .about-card-text {
      font-weight: 700;
      width: 51%;
      margin-bottom: 17px;
    }
    .about-card-price {
      font-weight: 400;
      margin-bottom: 10px;
    }
    .about-card-add {
      font-weight: 700;
      text-decoration: underline gray;
    }
  }
}
@mixin flexible-start() {
  display: flex;
  align-items: center;
}
.people-society {
  background: rgba(204, 204, 204, 0.3);

  padding: 76px 319px 51px 188px;
  @include flexible-start();
  gap: 50px;
  .people-img {
  }
}
.people-content {
  .people-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 31px;
  }
  .people-text {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 40px;
  }
  .people-link {
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
  }
}
.culture-heritage {
  background: rgba(204, 204, 204, 0.6);
  @include flexible-start();
  gap: 50px;
  text-align: end;

  justify-content: flex-start;
  flex-direction: row-reverse;
  padding: 76px 188px 51px 304px;
  p {
  }
}
.power-politics {
  padding: 76px 287px 51px 188px;
  @include flexible-start();
  gap: 50px;
  background: rgba(204, 204, 204, 0.3);
}
.circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 190px 248px 290px 263px;
  text-align: center;

  .circles-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 69px;
  }
  .columns {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .circle-column {
      display: flex;
      flex-direction: column;
      gap: 111px;
      .circle {
        p {
          font-size: 30px;
          font-weight: 700;
          margin-top: 26px;
        }
      }
    }
  }
}
.circles-down-text {
  font-size: 36px;
  font-weight: 700;
  margin-top: 163px;
}
%discover-stiles {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.discover-1 {
  @extend %discover-stiles;
}

%discover-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
%discover-subtext {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin: 40px 0 44px 0;
}

.discovers {
  @include flexible-between();
  position: relative;
  gap: 100px;
  padding: 198px 189px 52px 208px;
  background: rgba(240, 240, 240, 1);
  .discover-1 {
    @extend %discover-stiles;
    .discover-1-text {
      @extend %discover-text;
      width: 248px;
    }
    .discover-1-subtext {
      @extend %discover-subtext;
    }
  }
  .discover-2 {
    @extend %discover-stiles;
    .discover-2-text {
      @extend %discover-text;
      width: 272px;
    }
    .discover-2-subtext {
      @extend %discover-subtext;
    }
  }
  .discover-3 {
    @extend %discover-stiles;
    .discover-3-text {
      @extend %discover-text;
      width: 285px;
    }
    .discover-3-subtext {
      @extend %discover-subtext;
    }
  }
  .discover-img {
    position: absolute;
    display: flex;
    gap: 100px;
    top: -188px;
  }
}

.discover-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: underline;
}
.form {
  padding: 79px 0 88px 0;

  .form-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-title {
        font-size: 36px;
        font-weight: 700;
      }
      .form-text {
        font-size: 17px;
        font-weight: 700;
        margin: 9px 0 26px 0;
      }
      .input-text {
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-bottom: 18px;
        input {
          border: 1px solid rgba(0, 0, 0, 1);
          width: 153px;
          padding: 12px 0 11px 8px;
          &placeholder {
            color: rgba(160, 160, 160, 1);
          }
        }
      }
      .inpt-mail {
        width: 366px;
        margin-bottom: 16px;
        padding: 13px 0 10px 8px;
        border: 1px solid rgba(0, 0, 0, 1);
      }
      .sub-btn {
        border: 1px solid rgba(0, 0, 0, 1);
        background: rgba(0, 0, 0, 1);
        border-radius: 100px;
        padding: 7px 23px 10px 23px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
%footer-head {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
%menu-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
%footer-block {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer {
  background: rgba(2, 2, 2, 1);
  padding: 51px 204px 16px 173px;
  color: rgba(255, 255, 255, 1);
  .footer-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .logo-sm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 45px;
      .footer-sm {
        img:nth-child(2) {
          margin: 0 20px 0 23px;
        }
      }
    }

    .about-contact {
      display: flex;
      gap: 72px;
      .about-footer {
        @extend %footer-block;
        .about-title {
          @extend %footer-head;
        }
        .about-menu {
          @extend %menu-footer;
          li {
            font-weight: 400;
          }
        }
      }
      .contact-footer {
        @extend %footer-block;

        .contact-title {
          @extend %footer-head;
        }
        .contact-menu {
          @extend %menu-footer;
        }
      }
    }
  }
  .footer-down {
    margin-top: 20px;
    text-align: center;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}
.dis-img-mobile{
  display: none;
}